<p id="notice"><%= notice %></p>
<p>
  <strong>Data auditoria:</strong>
  <%= @audit.dataaudit %>
</p>
<p>
  <strong>Observacions:</strong>
  <%= @audit.observacions %>
</p>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Nom</th>
    <th>Tipus</th>
    <th>Ubicacio</th>
    <th>Recompte</th>
    <th>Estat Ok</th>
    <th>Observacions</th>
    <!-- <th>Auditoria</th> -->
    <th>Foto</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @trampas.each do |trampa| %>
      <tr>
        <td><%= trampa.nom %></td>
        <td><%= trampa.tipus %></td>
        <td><%= trampa.ubicacio %></td>
        <td align="center"><%= trampa.recompte %></td>
        <td><%= check_box "trampa", "estat_ok", {:checked => trampa.estat_ok, :disabled => true}%></td>
        <td><%= trampa.observacions %></td>
      <!--  <td><%= trampa.audit.id %></td> -->
        <td> <%= image_tag trampa.foto, :style => 'width:350px;height:150px;' %></td>

        <!-- <td><%= link_to 'Veure trampa', trampa %></td> -->

        <td><%= link_to 'Editar trampa', edit_trampa_path(trampa), :class=>'btn btn-primary btn-block' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

</br>

<!-- <%= link_to 'Editar', edit_audit_path(@audit) %>  -->
<%= link_to 'Validar', audits_path, :class=>'btn btn-primary btn-block' %>
</br>

<!--
<p>
  Descarrega:
  <%= link_to "CSV",    audits_path(format: "csv") %> |
  <%= link_to "Excel",  audits_path(format: "xls") %>
</p>
-->
