<h1 class="jumbotron">Editar Trampa</h1>

<p>Controlador:<%= controller_name %></p>
<p>Accion:<%= action_name %></p>
<p>Referer:<%=  %></p>

<%= render 'form' %>

<!-- <%= link_to 'Show', @trampa %> | -->
<!-- <%= link_to 'Back', trampas_path %> -->

</br>
<!-- <%= link_to "Enrera",trampas_path, :class=>'btn btn-primary btn-block' %> -->

<!-- para que vuelva atras, estemos donde estemos -->
<a href="javascript:history.back()" class="btn btn-primary btn-block">Enrera</a>