<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @trampa.nom %>
</p>

<p>
  <strong>Tipus:</strong>
  <%= @trampa.tipus %>
</p>

<p>
  <strong>Ubicació:</strong>
  <%= @trampa.ubicacio %>
</p>

<p>
  <strong>Descripció:</strong>
  <%= @trampa.descripcio %>
</p>

<p>
  <strong>Foto Inicial:</strong>
  <%= image_tag @trampa.fotobase, :style => 'width:175px;height:75px;' %>
</p>

<p>
  <strong>Recompte:</strong>
  <%= @trampa.recompte %>
</p>

<p>
  <strong>Estat ok:</strong>
  <%= @trampa.estat_ok %>
</p>

<p>
  <strong>Observacions:</strong>
  <%= @trampa.observacions %>
</p>
<!--
<p>
  <strong>Audit:</strong>
  <%= @trampa.audit %>
</p>
-->

<p>
  <strong>Foto auditoria:</strong>
  <%= image_tag @trampa.foto, :style => 'width:175px;height:75px;' %>
</p>




<%= link_to 'Editar', edit_trampa_path(@trampa), :class=>'btn btn-primary btn-block' %> </br>
<%= link_to 'Enrera', trampas_path, :class=>'btn btn-primary btn-block' %>
