<h1>Editar auditoria de Vidres/PD/BPH/BPM/FD/E-I</h1>

<%= render 'form' %>

<%= link_to 'Veure', @auditv, :class=>'btn btn-primary btn-block' %>
<%= link_to 'Editar', auditvs_path, :class=>'btn btn-primary btn-block' %>
</br>
<%= link_to 'Enrera', '\home\menu_auditories', :class=>'btn btn-primary btn-block' %>
<%= link_to 'Menu Principal', home_principal_path, :class=>'btn btn-primary btn-block' %>
</br>

